
/* ------------------------全局 --------------------------*/
html {height:100%;}

/* ------------------------header -----------------------*/
#header {
    height:80px;
    width: 100%;
    overflow:hidden;
    background:url(/images/logobg.jpg) repeat-x;
}
#header h1{  
	top:15px; 
	padding: 25px 0 25px 0;
	text-align: center;
}

/* ------------------------body -------------------------- */
#body {
    position:relative;
    width: 100%;
    overflow:hidden;
    background:url(/images/bg-wrapper.png) repeat-y;
}

.page_navigator {
    color:#3f5a04;
    text-align:center;
    background:#dfedc0;
    font-size:18px;
}

/*picture*/

.attachment_list {
    list-style:none;
    margin:0;
    padding:0;
    text-align:center;
}
.attachment_list div {
    vertical-align:top;
    margin:0 0 1px;
    padding:10px 50px 10px 50px;
    width:100%;
    font-size:20px;
}

.attachment_list .attachment_success {
    color:#3f5a04;
    text-align:center;
    overflow:auto;
    background:#dfedc0;
}

.attachment_list .attachment_success .puimg{
    width:410px;
    margin-right:20px;
    margin-bottom:20px;
    padding:10px;
    border:1px solid #ddd;
    float:left;
    display:inline;
    overflow: hidden;
}
.puimg img{
    width:200px; height:200px;
}

.puimg video{
    width:200px; height:200px;
}

/* ------------------------footer-------------------------- */
#footer {
    position:relative;
    height:20px;
    width: 100%;
    overflow:hidden;
    padding: 25px 0 25px 0;   
    background: #666;  
    color: #fff; 
    text-align: center;
}
#footer a {color: #fff;}
